<section id="story" class="screen py-5 row">
  <div class="col-12 col-md-4 offset-md-4 text-center">
    <h2 class="text-center d-inline-block primary-color">{{'story_title' | trans }}</h2>
    <p class="text-center my-5 secondary-color">{{'story_p' | trans | raw}}</p>
  </div>

  <div id="story-list" class="col-12">
    <div class="container py-2">
      <div class="row align-items-center">
        {% for index, item in [
        {'key': 'aecis', 'link' : 'https://www.aecis.fr/', 'width' : 204, 'height': 118, 'img_class':''},
        {'key': 'fucc', 'link' : 'https://www.ufec.pro/', 'width' : 78, 'height': 78, 'img_class':'d-inline-block  my-4'},
        {'key': 'cognitum', 'link' : 'https://www.cognitum.fr/', 'width' : 253, 'height': 100, 'img_class':''},
        {'key': 'ce', 'link' : 'https://consultant-entrepreneur.com/', 'width' : 203, 'height': 85, 'img_class':'d-inline-block my-3'}
        ] %}
          <div class="col-12 col-md-6 text-center h-100 my-2" id="ecosystem-{{item.key}}">
            <div class="story-item d-flex m-auto">
                <div class="m-auto align-self-center">
                    <a href="{{item.link}}" target="_blank" class="{{item.img_class}}">
                        <img src="{{asset('build/static/home/story/'~item.key~'.png')}}" alt="{{item.key}}" srcset="{{asset('build/static/home/story/'~item.key~'@2x.png')}} 2x, {{asset('build/static/home/story/'~item.key~'@3x.png')}} 3x" width="{{item.width}}" height="{{item.height}}" />
                    </a>

                    <h4 class="primary-color mb-3">{{('story_'~(item.key)~'_title') | trans }}</h4>
                    <p class="secondary-color my-3">{{('story_'~(item.key)~'_desc') | trans | raw }}</p>

                </div>
            </div>

          </div>
        {% endfor %}
      </div>
    </div>
  </div>

</section>
