
    <div id="period-count" class="text-center primary-color digit">150 / 250</div>
    <div class="text-center third-color mb-2">{{'main_periods' | trans}}</div>
    <div id="gcw-distributed" class="text-center primary-color digit">6,258,000</div>
    <div class="text-center third-color">{{'main_gcw_distributed' | trans}}</div>

    <div id="" class="py-4">
      <div id="progress-bar">
        <div id="progress-value" style="width:75%"></div>
      </div>
      <div id="gcw-min" class="d-inline-block w-50 m-0 p-0 third-color text-left">0</div>
      <div id="gcw-max" class="d-inline-block text-right float-right w-50 m-0 p-0 third-color">10,500,000</div>
    </div>

    <div class="row text-center">
      <div class="col-4">
        <div  id="gcw-remaning" class="digit">42,000</div>
        <div class="third-color">{{'main_to_distribute' | trans }}</div>
      </div>
      <div class="col-4">
        <div id="gcw-price" class="digit">0,04</div>
        <div  class="third-color">{{'main_price' | trans }}</div>
        <div class="third-color" id="gcw-last-update">{{'main_updated' | trans }}</div>
      </div>
      <div class="col-4">
        <div id="eth-collected" class="digit">625,800.50</div>
        <div class="third-color">{{'main_collected' | trans }}</div>
      </div>
    </div>
