{% extends 'frontend/base.html.twig' %}


{% block body %}
<div class="container-fluid">
  <section id="goco-token" class="screen py-5">

      <div class="row">
        <div class="mx-auto col-12 col-md-4">
        <h1 class="text-center px-5 my-5">GOCO Token</h1>
        <ul>

        <li><label>{{'goco_symbol' | trans }}</label> GOCO</li>
        <li><label>{{'goco_type' | trans }}</label> ERC20</li>
        <li><label>{{'goco_classification' | trans }}</label> Utility Token</li>
        <li><label>{{'goco_digit' | trans }}</label> 18</li>
        <li><label>{{'goco_liquidity' | trans }}</label> Native</li>
        <li><label>{{'goco_total_supply' | trans }}</label> 21,000,000</li>
        <li><label>{{'goco_circulating_supply' | trans }}</label> 12,600,000</li>
        <li><label>{{'goco_cap' | trans }}</label> 210,000</li>
        <li><label>{{'goco_currency' | trans }}</label> {{'goco_eth_only' | trans }}</li>
        <li><label>{{'goco_min_contribution' | trans }}</label> 0.01</li>

        </ul>
        </div>
      </div>

  </section>


  <section id="structure" class="container">

      <h2 class="text-center px-5 my-5 primary-color">{{'structure_title' | trans }}</h2>

    <div class="row">
    <div class="col-12 col-md-6" id="goco_distribution">
      <div class="chart">{{'goco_distribution' | trans }}</div>
      <ul>
      <li><label><span></span>{{'goco_token_sale' | trans }}</label> <span class="value">50%</span></li>
      <li><label><span></span>{{'goco_presale' | trans }}</label> <span class="value">10%</span></li>
      <li><label><span></span>{{'goco_team' | trans }}</label> <span class="value">33%</span></li>
      <li><label><span></span>{{'goco_reward_pool' | trans }}</label> <span class="value">7%</span></li>
      </ul>
    </div>

    <div class="col-12 col-md-6" id="goco_allocation">
      <div class="chart">{{'goco_allocation' | trans }}</div>
      <ul>
      <li><label><span></span>Gocoworker</label> <span class="value">30%</span></li>
      <li><label><span></span>Gocompany</label> <span class="value">20%</span></li>
      <li><label><span></span>Gocobooster</label> <span class="value">10%</span></li>
      <li><label><span></span>Gococampus</label> <span class="value">40%</span></li>
      </ul>
    </div>

  </section>
</div>




{% endblock %}


{% block stylesheets %}
    {{ parent() }}
  {{ encore_entry_link_tags('goco_token') }}
{% endblock %}
{% block javascripts %}
  {{ parent() }}
{% endblock %}
